<div class="page-header">
	<h3>
		<span class="glyphicon glyphicon-barcode"></span>
		Create new product
	</h3>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="well bs-component">
			<form>
				<fieldset>
					<legend>Basic information</legend>

					<div class="row">
						<div class="col-md-6 form-group">
							<label for="productName" class="control-label">Product Name</label> 
							<input
								type="text" class="form-control" ng-required
								ng-model="product.productName" id="productName"
								placeholder="Product Name">
						</div>

						<div class="col-md-6 form-group">
							<label for="productType" class="control-label">Product type</label>
							<select id="productType" class="form-control" 
									ng-model="product.productType">
								<option ng-repeat="productType in productTypes" value="{{productType.name}}">
									{{productType.description}}
								</option>	
							</select> 
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 form-group">
							<label for="introductionDate" class="control-label">Introduction date</label>
							<div class="">
								<input ui-date ui-date-format="dd-mm-yy" class="form-control" 
									id="introductionDate" ng-model="product.introductionDate">
							</div>
						</div>
					</div>
					
					<legend>Description</legend>

					<div class="row">
						<div class="col-md-12 form-group">
							<label for="description" class="control-label">Description</label>
							<div class="">
								<textarea class="form-control" rows="3"
									ng-model="product.description" id="description"></textarea>
								<span class="help-block">
									The description would be printed on the invoice.
								</span>
							</div>
						</div>
					</div>

					<legend>Tax information</legend>

					<div class="row">
						<div class="checkbox col-md-6">
	                        <label>
	                          <input type="checkbox" ng-model="product.taxable"> Is taxable ?
	                        </label>
	                    </div>
					</div>

					<legend>Price information</legend>

					<div class="row">
						<div class="col-md-6 form-group">
							<label for="fromDate" class="control-label">From date</label>
							<div class="">
								<input ui-date ui-date-format="dd-mm-yy" class="form-control" 
									id="fromDate" ng-model="product.productPrice.fromDate">
							</div>
						</div>
						
						<div class="col-md-6 form-group">
							<label for="thruDate" class="control-label">Thru date</label>
							<div class="">
								<input ui-date ui-date-format="dd-mm-yy" class="form-control" 
									id="thruDate" ng-model="product.productPrice.thruDate">
							</div>
						</div>						
					</div>
					
					<div class="row">
						<div class="col-md-6 form-group">
							<label for="productPriceType" class="control-label">Price type</label>
							<select id="productPriceType" class="form-control" 
									ng-model="product.productPrice.productPriceType">
								<option ng-repeat="productPriceType in productPriceTypes" value="{{productPriceType.value}}">
									{{productPriceType.description}}
								</option>	
							</select>
						</div>
						
						<div class="col-md-6 form-group">
							<label for="amount" class="control-label">Amount</label>
							<input class="form-control" id="amount" ng-model="product.productPrice.amount">
						</div>						
					</div>
											
					<div class="form-group">
						<div class="">
							<button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
							<button class="btn btn-default" ng-click="cancel()">Cancel</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

