<script type="text/ng-template" id="productTemplate.html">
	<a>
		{{match.model.productName}} <br> 
        {{match.model.description}}  
	</a>
</script>

<div class="page-header">
	<h3>
		<i class="fa fa-inr"></i>
		Create new invoice
	</h3>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="bs-component">
			<form>
				<fieldset>
					<div class="well row">
						<div class="col-md-6">
							<div class="col-md-12 form-group">
								<label for="partyTo" class="control-label">
									Party To
								</label>
								<small class="pull-right" >
									<a href ng-click="">
										<span class="glyphicon glyphicon-plus-sign"></span>
										New party
									</a>
								</small>
								<span>
									<script type="text/ng-template" id="customTemplate.html">
										<a>
   											{{match.model.currentFirstName}} {{match.model.currentLastName}}  
										</a>
									</script>
									<input type="text" placeholder="Select customer" 
										ng-model="partyId"
									    id="partyId" 
									    typeahead-input-formatter="formattedName($model)"
										typeahead="party for party in getParty($viewValue) | filter:$viewValue""
										typeahead-min-length="1"
										typeahead-on-select="onSelect($item);partyId='';" 
										typeahead-template-url="customTemplate.html"
										typeahead-loading="loading" class="form-control">
										
									<i ng-show="loading" class="fa fa-refresh fa-spin"></i>
								</span>
							</div>
							
							<div class="col-md-12">
								<div class="panel panel-info" ng-show="addressData">
									<div class="panel-heading">
										<i class="fa fa-user"></i> 
										{{person.currentFirstName}} {{person.currentLastName}}
									</div>
									<ul class="list-group">
										<li class="list-group-item" ng-show="addressData.address1">{{addressData.address1}}</li>
										<li class="list-group-item" ng-show="addressData.address2">{{addressData.address2}}</li>
										<li class="list-group-item" ng-show="addressData.city">{{addressData.city}}</li>
										<li class="list-group-item" ng-show="addressData.directions">{{addressData.directions}}</li>
									</ul>
								</div>
							</div>
							</div>
					</div>
					
					<!-- Invoice Items -->
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											<input type="text" class="form-control"  
												placeholder="Select product" 
												ng-model="newItem"
											    id="partyId" 
											    typeahead-input-formatter="formattedProduct($model)"
											    typeahead-template-url="productTemplate.html"
												typeahead="product for product in suggestProduct($viewValue) | filter:$viewValue""
												typeahead-min-length="2"
												typeahead-on-select="addInvoiceItem($item);" 
												typeahead-template-url="customTemplate.html"
												typeahead-loading="loading" class="form-control">
												
											<i ng-show="loading" class="fa fa-refresh fa-spin"></i>
										</th>
										
										<th>
											<input type="text" class="form-control" ng-model="newItem.quantity"/>
										</th>
										
										<th>
											<input type="text" class="form-control" ng-model="newItem.unitPrice"/>
										</th>
										
										<th>
											<input type="text" class="form-control" ng-model="newItem.tax"/>
										</th>
										
										<th></th>
										
										<th>
											<a class="btn btn-sm btn-default" ng-click="addNewItem()">
												<span class="glyphicon glyphicon-plus-sign"></span>
											</a>	
										</th>
									</tr>
									<tr>
										<th>Description</th>
										<th>Quantity</th>
										<th>Unit Cost</th>
										<th>Tax</th>
										<th>Line Total Amount</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in invoice.items">
										<td>
											{{item.productName}}
											<br>
											{{item.description}}
										</td>
										
										<td>
											{{item.quantity}}
										</td>
										
										<td>
											{{item.unitPrice}}
										</td>
										
										<td>
											{{item.tax}}
										</td>
										
										<td>
											{{getLineTotalAmount(item)}}
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3">
										</td>
										<th>
											Subtotal
										</th>
										<th>
											{{getInvoiceSubTotalAmount()}}
										</th>
									</tr>
									<tr>
										<td colspan="3">
										</td>
										<th>
											Total Tax
										</th>
										<th>
											{{invoiceTotalTaxAmount}}
										</th>
									</tr>
									<tr>
										<td colspan="3">
										</td>
										<th>
											Grand Total
										</th>
										<th>
											{{invoiceTotalAmount}}
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

