<script type="text/ng-template" id="productTemplate.html">
	<a>
		{{match.model.productName}} <br> 
        {{match.model.description}}  
	</a>
</script>

<div class="page-header">
	<h3>
		<i class="fa fa-file"></i>
		Create new invoice<span ui-view="actions"></span>
		
		<!-- <small class="pull-right">
			<button class="btn btn-sm btn-success" type="submit">Save</button>
			<button class="btn btn-sm btn-default" type="reset">Cancel</button>
		</small> -->
	</h3>
</div>

<div class="row">
	<form>
	<div class="col-lg-8 col-md-8">
		<div class="bs-component">
				<fieldset>
					<div class="row">
						<div class="col-md-6">
							<div class="col-md-12 form-group">
								<label for="partyTo" class="control-label">
									Party To
									<i ng-show="loading"  class="fa fa-spinner"></i>
								</label>
								<small class="pull-right" >
									<a ng-click="addCustomer()">
										New customer
									</a>
									|
									<a href ng-click="changePartyTo()">
										Change party
									</a>
								</small>
								<span>
									<script type="text/ng-template" id="customTemplate.html">
										<a>
   											{{match.model.currentFirstName}} {{match.model.currentLastName}}  
										</a>
									</script>
									<input type="text" 
										placeholder="Select customer"
										ng-show="!person || changeParty" 
										ng-model="partyId"
									    id="partyId" 
									    typeahead-input-formatter="formattedName($model)"
										typeahead="party for party in getParty($viewValue) | filter:$viewValue""
										typeahead-min-length="2"
										typeahead-on-select="onSelect($item);partyId='';" 
										typeahead-template-url="customTemplate.html"
										typeahead-loading="loading" 
										class="form-control input-sm">
										
									<span class="help-block" ng-show="!person || changeParty">
										Start typing the name of the customer.
									</span>
								</span>
								</div>
							
							<div class="col-md-12">
								<div class="panel panel-default" ng-show="person || addressData">
									<ul class="list-group">
										<li class="list-group-item">
											<a ui-sref="customers.show({ id: invoice.partyId})">
												{{person.currentFirstName}} {{person.currentLastName}}
											</a>
										</li>
										<li class="list-group-item" ng-show="addressData.address1">
											{{addressData.address1}} <br/>
											{{addressData.address2}} <br/>
											{{addressData.city}} <br/>
											{{addressData.directions}}
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="col-md-12 form-group">
								<label for="invoiceDate" class="control-label">Invoice date</label>
								<input ui-date ui-date-format="dd-mm-yy" class="form-control input-sm" 
									id="invoiceDate" ng-model="invoice.invoiceDate">
							</div>
							
							<div class="col-md-12 form-group">
								<label for="invoiceNumber" class="control-label">Invoice number</label> 
								<input
									type="text" class="form-control input-sm" ng-required
									ng-model="invoice.invoiceNumber" id="invoiceNumber"
									placeholder="Invoice number">
							</div>
							
							<div class="col-md-12 form-group">
								<label for="invoiceStatus" class="control-label">Invoice status</label>
								<div class="form-control" >
									{{invoice.currentInvoiceStatus}}
								</div>
								<select ng-show="changeCurrentInvoiceStatus" 
									class="form-control input-sm" ng-required
									ng-model="invoice.currentInvoiceStatus" 
									ng-options="invoiceStatusType.statusCode as invoiceStatusType.description for invoiceStatusType in invoiceStatusTypes"
									id="invoiceStatus">
								</select> 
							</div>
						</div>
					</div>
					<!-- Invoice Items -->
					<div class="row">
							<div class="col-md-12">
								<table class="table table-condensed">
									<thead>
										<tr>
											<td>
												<input type="text" class="form-control input-sm col-md-6"  
													placeholder="Select product" 
													ng-model="newItem.product"
												    id="partyId" 
												    typeahead-input-formatter="formattedProduct($model)"
												    typeahead-template-url="productTemplate.html"
													typeahead="product for product in suggestProduct($viewValue) | filter:$viewValue""
													typeahead-min-length="2"
													typeahead-on-select="loadProductDetails($item);" 
													typeahead-template-url="customTemplate.html"
													typeahead-loading="loadingProduct" class="form-control">
													
												<i ng-show="loadingProduct" class="fa fa-spinner fa-spin"></i>
											</td>
											
											<td>
												<input type="text" placeholder="Quantity" class="form-control input-sm"
													ng-change="recalculate(newItem)" ng-model="newItem.quantity"/>
											</td>
											
											<td>
												<input type="text" placeholder="Unit price" class="form-control col-md-2 input-sm" 
													ng-change="recalculate(newItem)"  ng-model="newItem.unitPrice"/>
											</td>
											
											<td>
												<input type="text" placeholder="Tax" class="form-control col-md-2 input-sm" 
													ng-change="recalculate(newItem)" ng-model="newItem.tax"/>
											</td>
											
											<td>
												<input type="text" placeholder="Tax" class="form-control col-md-2 input-sm" 
													ng-model="newItem.amount"/>
											</td>
											
											<td>
												<a class="btn btn-sm btn-default"
													ng-show="newItem" 
													ng-click="addNewItem()">
													<span class="glyphicon glyphicon-plus-sign"></span>
												</a>	
											</td>
										</tr>
										<tr>
											<td>Description</td>
											<td>Quantity</td>
											<td>Unit price</td>
											<td>Tax</td>
											<td>Total</td>
											<td></td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in invoice.items">
											<td>
												{{item.productName}}
												<br>
												{{item.description}}
											</td>
											
											<td>
												{{item.quantity}}
											</td>
											
											<td>
												{{item.unitPrice}}
											</td>
											
											<td>
												{{item.tax}}
											</td>
											
											<td>
												{{item.amount}}
											</td>
											
											<td></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3">
											</td>
											<td>
												Subtotal
											</td>
											<td>
												{{getInvoiceSubTotalAmount()}}
											</td>
											<td>
											</td>
										</tr>
										<tr>
											<td colspan="3">
											</td>
											<td>
												Total Tax
											</td>
											<td>
												{{invoiceTotalTaxAmount}}
											</td>
											<td></td>
										</tr>
										<tr>
											<td colspan="3">
											</td>
											<td>
												Grand Total
											</td>
											<td>
												{{invoiceTotalAmount}}
											</td>
											<td></td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
				</fieldset>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
		<div class="col-md-12 form-group">
			<label for="message" class="control-label">Private message</label>
			<textarea 
				class="form-control" 
				rows="3" 
				ng-model="invoice.message" 
				id="message"></textarea>
				<span class="help-block">
					Enter a private message for future reference, this is not printed on invoice or displayed to the client.
				</span>
		</div>
	</div>
	<div class="col-md-12 form-group">
		<div class="">
			<button type="submit" class="btn btn-sm btn-success" ng-show="invoice.id == null" ng-disabled="!isValid()" ng-click="save()">Save</button>
			<button class="btn btn-sm btn-default" ng-show="invoice.id == null" ng-click="cancel()">Cancel</button>
		</div>
	</div>
	</form>
</div>

