<div>
	<div class="page-header">
		<h2>
			<span class="glyphicon glyphicon-list"></span>
			Invoices
		</h2>
	</div>

	<div class="panel-list-actions">
		<div class="pull-left">
		</div>
		<div class="pull-right">
			<input type="text" placeholder="Search" ng-model="query">
		</div>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Invoice number</th>
				<th>Invoice date</th>
				<th>Customer</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invoice in invoices | filter:query" ng-mouseover="hover=true" ng-mouseout="hover=false">
				<td>
					<a ui-sref="invoice.show({ id: invoice.id})">
						{{invoice.invoiceNumber}}
					</a>
				</td>
				<td>{{invoice.invoiceDate | date:"dd-MM-yy"}}</td>
				<td>{{invoice.party.displayName}}</td>
				<td>{{getUnpaidAmount(invoice)}}</td>
				<td>{{invoice.currentInvoiceStatus.description}}</td>
			</tr>
		</tbody>
	</table>
</div>