<div class="page-header">
	<h2>
		<i class="fa fa-cog"></i>
		Setting for {{setting.description}} 
		
		<small class="pull-right">
			<span ui-view="actions"></span>
		</small>
	</h2>
</div>

<div class="row">
	<div class="col-lg-6 col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Settings Information</h3>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					Code : {{setting.code}}
				</li>
				<li class="list-group-item">
					Code : {{setting.description}}
				</li>
				<li class="list-group-item">
					Value : {{setting.value}}
				</li>
				<li class="list-group-item">
					From date : {{setting.fromDate | date:"dd-mm-yy"}}
				</li>
				<li class="list-group-item">
					Thru date : {{setting.thruDate | date:"dd-mm-yy"}}
				</li>
			</ul>
		</div>
	</div>
</div>