<div class="page-header">
	<h3>
		<span class="glyphicon glyphicon-plus-sign"></span>
		Create new customer
	</h3>
</div>

<div class="well bs-component">
	<div class="row">
		<div class="col-lg-8 col-md-8">
				<form>
					<fieldset>
						<legend>Basic Information</legend>
	
						<div class="row">
							<div class="col-md-6 form-group">
								<label for="firstName" class="control-label required">First Name*</label> 
								<input
									type="text" class="form-control" ng-required
									ng-model="customer.currentFirstName" id="firstName"
									placeholder="First Name">
								<span class="help-block">Enter the customer's first name</span>	
							</div>
	
							<div class="col-md-6 form-group">
								<label for="lastName" class="control-label">Last Name</label> <input
									type="text" class="form-control"
									ng-model="customer.currentLastName" id="lastName"
									placeholder="Last Name">
								<span class="help-block">Enter the customer's last name</span>	
							</div>
						</div>
	
						<div class="row">
							<div class="col-md-6 form-group">
								<label class="control-label">Gender</label>
								<div class="radio">
									<label> <input type="radio" ng-model="customer.gender"
										value="M" id="genderMale" name="gender"> 
										Male
									</label>
									<label> <input type="radio" ng-model="customer.gender"
										value="F" id="genderFemale" name="gender">
										Female
									</label>
								</div>
							</div>
	
							<div class="col-md-6 form-group">
								<label for="birthDate" class="control-label">Birthdate</label>
								<input id="birthDate" class="form-control" ng-model="customer.birthDate" name="birthDate" bs-datepicker type="text">
							</div>
						</div>
	
						<legend>Contact Information</legend>
	
						<div class="row">
							<div class="col-md-6 form-group">
								<label for="mobileNumber" class="control-label">Mobile Number</label> <input
									type="text" class="form-control" id="mobileNumber"
									ng-model="customer.mobileNumber" placeholder="Mobile">
								<span class="help-block">Enter the customer's mobile number</span>	
							</div>
	
							<div class="col-md-6 form-group">
								<label for="email" class="control-label">Email</label> <input
									type="email" class="form-control" id="email"
									ng-model="customer.email" placeholder="Email">
								<span class="help-block">Enter the customer's email address</span>	
							</div>
						</div>
						
						<legend>Address Information</legend>
	
						<div class="row">
							<div class="col-md-6 form-group">
								<label for="address1" class="control-label">Address Line 1*</label> <input
									type="text" class="form-control" id="address1"
									ng-model="customer.postalAddress.address1" placeholder="Address line 1">
								<span class="help-block"></span>	
							</div>
	
							<div class="col-md-6 form-group">
								<label for="address2" class="control-label">Address Line 2</label> <input
									type="text" class="form-control" id="address2"
									ng-model="customer.postalAddress.address2" placeholder="Address line 2">
								<span class="help-block"></span>	
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6 form-group">
								<label for="city" class="control-label">City</label> <input
									type="text" class="form-control" id="city"
									ng-model="customer.postalAddress.city" placeholder="City">
							</div>
	
							<div class="col-md-6 form-group">
								<label for="postalCode" class="control-label">Postal Code</label> <input
									type="text" class="form-control" id="postalCode"
									ng-model="customer.postalAddress.postalCode" placeholder="Postal code">
								<span class="help-block"></span>	
							</div>
						</div>
	
						<div class="form-group">
							<div class="">
								<button type="submit" ng-show="customer.id == null" class="btn btn-sm btn-success" ng-disabled="!isValid()" ng-click="save()">Save</button>
								<button class="btn btn-sm btn-default" ng-show="customer.id == null" ng-click="cancel()">Cancel</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-lg-4 col-md-4">
				<legend>Additional Comments</legend>

				<div class="row">
					<div class="col-md-12 form-group">
						<label for="description" class="control-label">Comments</label>
						<div class="">
							<textarea class="form-control" rows="3"
								ng-model="customer.description" id="description"></textarea>
							<span class="help-block"> 
								Enter any comments about the customer.</span>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

