<div>
	<div class="page-header">
		<h3>
			<span class="glyphicon glyphicon-list"></span>
			Customers
			<small class="pull-right">
				<a ng-click="addCustomer()" class="btn btn-sm btn-primary">
					<span class="glyphicon glyphicon-flash">
					</span>
				</a>		
			</small>
		</h3>
	</div>

	<div class="panel-list-actions">
		<div class="pull-right">
			<input type="text" placeholder="Search" ng-model="query">
		</div>
	</div>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Mobile</th>
				<th>Email</th>
				<!-- <th></th> -->
			</tr>
		</thead>
		<tbody>
			<tr pagination-id="customerTable" dir-paginate="customer in customers | filter:query | itemsPerPage: 10:'customerTable'">
				<td>
					<a ui-sref="customers.show({ id: customer.id})">
						{{customer.currentFirstName}}
					</a>
				</td>
				<td>{{customer.currentLastName}}</td>
				<td>{{mobilePhone(customer).value}}</td>
				<td>{{email(customer).value}}</td>
				<!-- <td>
					<span>
						<a href ng-click="edit(customer)">
						  <span class="glyphicon glyphicon-edit"></span>
						  Edit
						</a>
					</span>
				</td> -->
			</tr>
		</tbody>
	</table>
	<div class="text-center">
		<dir-pagination-controls pagination-id="customerTable"></dir-pagination-controls>
	</div>
</div>


