<div class="modal-header">
	<h3 class="modal-title">
		{{customer | customerName}}
		<small>Create postal address</small>
	</h3>
</div>
<div class="modal-body">

	<div class="row">
		<div class="col-lg-12">
			<div class="well bs-component">
				<form>
					<fieldset>
						<legend>Address Information</legend>

						<div class="row">
							<div class="col-md-6 form-group">
								<label for="address1" class="control-label">Address Line
									1</label> <input type="text" class="form-control" id="address1"
									ng-model="customer.postalAddress.address1"
									placeholder="Address line 1">
							</div>

							<div class="col-md-6 form-group">
								<label for="address2" class="control-label">Address Line
									2</label> <input type="text" class="form-control" id="address2"
									ng-model="customer.postalAddress.address2"
									placeholder="Address line 2">
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 form-group">
								<label for="city" class="control-label">City</label> <input
									type="text" class="form-control" id="city"
									ng-model="customer.postalAddress.city" placeholder="City">
							</div>

							<div class="col-md-6 form-group">
								<label for="postalCode" class="control-label">Postal
									Code</label> <input type="text" class="form-control" id="postalCode"
									ng-model="customer.postalAddress.postalCode"
									placeholder="Postal code">
							</div>
						</div>

						<div class="form-group">
							<div class="">
								<button type="submit" class="btn btn-success" ng-click="save()">Save</button>
								<button class="btn btn-default" ng-click="cancel()">Cancel</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

</div>

