<div>
	<div class="page-header">
		<h2>
			<span class="glyphicon glyphicon-list"></span> Payments recorded for
			{{customer | customerName}}
		</h2>
		<small> <a ui-sref="customers.show({ id: customer.id})">
				<i class="fa fa-arrow-left"></i>
				Back 
				</a>
		</small>
	</div>

	<div class="panel-list-actions">
		<div class="pull-left"></div>
		<div class="pull-right">
			<input type="text" placeholder="Search" ng-model="query">
		</div>
	</div>

	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Effective date</th>
				<th>Payment method</th>
				<th>Amount</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="payment in payments">
				<td>{{payment.effectiveDate | date}}</td>
				<td>{{payment.paymentMethod.description}}</td>
				<td>{{payment.amount}}</td>
				<td>{{payment.status.description}}</td>
			</tr>
		</tbody>
	</table>
</div>