<div class="page-header">
	<h3>
		<i class="fa fa-user"></i> 
		{{customer | customerName}}
		<small class="pull-right">
			<span ui-view="actions"></span>		
		</small>
	</h3>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info" ng-mouseover="hover=true" ng-mouseout="hover=false">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-envelope"></span>
				Postal Address
				<small class="pull-right" ng-show="hover">
					<a href ng-if="addressData" ng-click="createOrUpdatePostalAddress(customer)"> 
						<span class="glyphicon glyphicon-edit"></span>
						Edit 
					</a>
					<a href ng-if="addressData == null" ng-click="createOrUpdatePostalAddress(customer)"> 
						<span class="glyphicon glyphicon-plus-sign"></span>
						Add
					</a>
				</small>
			</div>
			<ul class="list-group">
			  <li class="list-group-item" ng-show="addressData.address1">{{addressData.address1}}</li>
			  <li class="list-group-item" ng-show="addressData.address2">{{addressData.address2}}</li>
			  <li class="list-group-item" ng-show="addressData.city">{{addressData.city}}</li>
			  <li class="list-group-item" ng-show="addressData.directions">{{addressData.directions}}</li>
			</ul>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-phone-alt"></span>
				Contact Numbers
				<small class="pull-right">
					<a href ng-click="saveMobileNumber(customer,null)">
						<span class="glyphicon glyphicon-plus-sign"></span>
						<i class="fa fa-mobile"></i> 
						 Mobile
					</a> 
					|
					<a href ng-click="saveEmail(customer,null)"> 
						<i class="fa fa-at"></i>
						 Email
					</a>
				</small>
			</div>
			<ul class="list-group" ng-if="mobilePhoneData">
				<li class="list-group-item" ng-repeat="mobile in mobilePhoneData">
					<i class="fa fa-phone"></i>
					{{mobile.value}} 
					<span>
						<a ng-click="saveMobileNumber(customer,mobile)">(Edit)</a>
					</span>
				</li>
				<li class="list-group-item" ng-repeat="email in emailData">
					<i class="fa fa-envelope-o"></i>
					{{email.value}}
					<span>
						<a ng-click="saveEmail(customer,email)">(Edit)</a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info" ng-mouseover="commentsLink=true" ng-mouseout="commentsLink=false">
			<div class="panel-heading">
				Comments
				<p class="pull-right" ng-show="commentsLink">
					<a href ng-if="customer.description" ng-click="edit()"> 
						<span class="glyphicon glyphicon-edit"></span>
						Edit 
					</a>
					<a href ng-if="customer.description == null" ng-click="addAddress()">
						<span class="glyphicon glyphicon-plus-sign"></span> 
						Add
					</a>
				</p>
			</div>
			<div class="panel-body">
				{{customer.description}} 
			</div>
		</div>
	</div>
</div>