<div class="page-header">
	<h2>
		<!-- <i class="fa fa-user"></i>  -->
		{{customer | customerName}}
		<small class="pull-right">
			<span ui-view="actions"></span>		
		</small>
	</h2>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-info" ng-mouseover="hover=true" ng-mouseout="hover=false">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-envelope"></span>
				Postal Address
				<small class="pull-right" ng-show="hover">
					<a href ng-if="addressData" ng-click="createOrUpdatePostalAddress(customer)"> 
						<span class="glyphicon glyphicon-edit"></span>
						Edit 
					</a>
					<a href ng-if="addressData == null" ng-click="createOrUpdatePostalAddress(customer)"> 
						<span class="glyphicon glyphicon-plus-sign"></span>
						Add
					</a>
				</small>
			</div>
			<ul class="list-group">
			  <li class="list-group-item" ng-show="addressData.address1">{{addressData.address1}}</li>
			  <li class="list-group-item" ng-show="addressData.address2">{{addressData.address2}}</li>
			  <li class="list-group-item" ng-show="addressData.city">{{addressData.city}}</li>
			  <li class="list-group-item" ng-show="addressData.directions">{{addressData.directions}}</li>
			</ul>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-phone-alt"></span>
				Contact Numbers
				<small class="pull-right">
					<a href ng-click="saveMobileNumber(customer,null)">
						<span class="glyphicon glyphicon-plus-sign"></span>
						<i class="fa fa-mobile"></i> 
						 Mobile
					</a> 
					|
					<a href ng-click="saveEmail(customer,null)"> 
						<i class="fa fa-at"></i>
						 Email
					</a>
				</small>
			</div>
			<ul class="list-group" ng-if="mobilePhoneData">
				<li class="list-group-item" ng-repeat="mobile in mobilePhoneData">
					<i class="fa fa-phone"></i>
					{{mobile.value}} 
					<span>
						<a ng-click="saveMobileNumber(customer,mobile)">(Edit)</a>
					</span>
				</li>
				<li class="list-group-item" ng-repeat="email in emailData">
					<i class="fa fa-envelope-o"></i>
					{{email.value}}
					<span>
						<a ng-click="saveEmail(customer,email)">(Edit)</a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<tabset> 
			<tab select="getInvoices()"> 
			<tab-heading>
			Invoices 
			</tab-heading>
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Invoice number</th>
							<th>Invoice date</th>
							<th>Balance</th>
							<th>Total</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="invoice in invoices | filter:query"
							ng-mouseover="hover=true" ng-mouseout="hover=false">
							<td><a ui-sref="invoice.show({ id: invoice.id})">
									{{invoice.invoiceNumber}} </a></td>
							<td>{{invoice.invoiceDate | date:"dd-MM-yy"}}</td>
							<td>{{invoice.unpaidAmount}}</td>
							<td>{{invoice.invoiceTotal}}</td>
							<td>{{invoice.currentInvoiceStatus.description}}</td>
						</tr>
						<tr ng-show="!invoices || invoices.length == 0">
							<td colspan="6" class="text-center">No records found. <br />
								( <a ui-sref="invoice.create({ partyId:customer.id})"> Create
									new invoice </a> )
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</tab> 
		<tab select="getPayments()"> 
		<tab-heading> Payments </tab-heading>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Effective date</th>
					<th>Payment method</th>
					<th>Amount</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="payment in payments">
					<td>{{payment.effectiveDate | date}}</td>
					<td>{{payment.paymentMethod.description}}</td>
					<td>{{payment.amount}}</td>
					<td>{{payment.status.description}}</td>
				</tr>
			</tbody>
		</table>
		</tab> </tabset>
	</div>
</div>	

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info" ng-mouseover="commentsLink=true" ng-mouseout="commentsLink=false">
			<div class="panel-heading">
				Comments
				<p class="pull-right" ng-show="commentsLink">
					<a href ng-if="customer.description" ng-click="edit()"> 
						<span class="glyphicon glyphicon-edit"></span>
						Edit 
					</a>
					<a href ng-if="customer.description == null" ng-click="addAddress()">
						<span class="glyphicon glyphicon-plus-sign"></span> 
						Add
					</a>
				</p>
			</div>
			<div class="panel-body">
				{{customer.description}} 
			</div>
		</div>
	</div>
</div>