<div>
	<div class="page-header">
		<h3>
			<i class="fa fa-inr"></i>
			Invoices
		</h3>
	</div>

	<div class="panel-list-actions">
		<div class="pull-left">
			<a ng-click="addCustomer()" class="btn btn-sm btn-primary">
				<span class="glyphicon glyphicon-flash">
				</span>
			</a>
		</div>
		<div class="pull-right">
			<input type="text" placeholder="Search" ng-model="query">
		</div>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Invoice#</th>
				<th>Status</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invoice in invoices | filter:query" ng-mouseover="hover=true" ng-mouseout="hover=false">
				<td>
					<a ui-sref="invoice.show({ id: invoice.id})">
					</a>
				</td>
				<td>
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>

</div>


