<div class="page-header">
	<h1>
		<i class="fa fa-inr"></i> 
		{{invoice.invoiceNumber}}
			<span class="badge badge-success">
				{{invoice.currentInvoiceStatus.description}}
			</span>
		
		<small class="pull-right">
			<span ui-view="actions"></span>		
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="bs-component">
			<form>
				<fieldset>
					<div class="row">
						<div class="col-md-6">
							<div class="col-md-12">
								<div class="panel panel-default">
									<ul class="list-group">
										<li class="list-group-item">
											Invoice# :
											{{invoice.invoiceNumber}}
										</li>
										<li class="list-group-item">
											Invoice date :
											{{invoice.invoiceDate|date:"dd-MM-yy"}}
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="col-md-12 form-group">
								<ul class="list-group">
									<li class="list-group-item">
										{{invoice.party.displayName}}
									</li>
									<li class="list-group-item" ng-show="addressData.address1">
										{{addressData.address1}} <br/>
										{{addressData.address2}} <br/>
										{{addressData.city}} <br/>
										{{addressData.directions}}
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<!-- Invoice Items -->
					<div class="row">
							<div class="col-md-12">
								<table class="table table-condensed">
									<thead>
										<tr>
											<th>Description</th>
											<th>Quantity</th>
											<th>Unit price</th>
											<th>Tax</th>
											<th>Total</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in invoice.items">
											<td>
												{{item.product}}
												<br>
												{{item.description}}
											</td>
											
											<td>
												{{item.quantity}}
											</td>
											
											<td>
												{{item.unitPrice}}
											</td>
											
											<td>
												{{item.tax}}
											</td>
											
											<td>
												{{item.amount}}
											</td>
											
											<td></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3">
											</td>
											<td>
												Subtotal
											</td>
											<td>
												{{getInvoiceSubTotalAmount()}}
											</td>
											<td>
											</td>
										</tr>
										<tr>
											<td colspan="3">
											</td>
											<td>
												Total Tax
											</td>
											<td>
												{{invoiceTotalTaxAmount}}
											</td>
											<td></td>
										</tr>
										<tr>
											<td colspan="3">
											</td>
											<td>
												Grand Total
											</td>
											<td>
												{{invoiceTotalAmount}}
											</td>
											<td></td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12 form-group">
								<label for="message" class="control-label">Private message</label>
								<div class="panel panel-default">
									{{invoice.message}}
								</div>
							</div>
						</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>		

